<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../ressources/css/styles.css" /><!--pas oublier de mettre la page css-->
    <link rel="icon" type="image/png" href="../ressources/img/favicon.png"><!--mettre le logo dans l'onglet. => pas oublier de mettre la favicon dans le bon dossier en PNG-->
    <title>Page d'accueil Beer</title>
</head>

<body><!--commentaire-->
    <header>
        <h2>Bienvenue sur notre site</h2>
        <nav>
            <ul>
                <li><a href="#">logo</a></li>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Inscription</a></li>
                <li><a href="#">Paramètre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h4>Présentation du projet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        <img>
    </main>
    <footer>
        <a href="mailto:NotreBoiteEmailPoubelle@DesolerOnLisRien.com">Contact</a>
        <p>Mentions légales</p>
        <p>©2022-2023 BeerTruc</p>
    </footer>
</body>

</html>


<!--
    <!DOCTYPE html>
<html>
<head>
  <title>Boîte centrée</title>
  <style>
    .box {
      width: 60%;
      margin: 0 auto;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div class="box">
    <p>Mon contenu est dans une boîte centrée à 60% de la largeur de la page.</p>
  </div>
</body>
</html>
-->
