<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter une Bières</title>
  </head>

  <body>
    <form action="../model/insertbeer.php" method="post" enctype="multipart/form-data">
      Nom de la bière: <input type="text" name="NomBie" /><br /><br />
      Brasserie :<input type="text" name="NomBra" /><br /><br />
      Style : <input type="text" name="Style" /><br /><br />
      <p>Fermentation :</p>
      <input type="radio" name="Fermentation" value=1 /> Fermentation haute
      <input type="radio" name="Fermentation" value=2 /> Fermentation basse
      <input type="radio" name="Fermentation" value=3 /> Fermentation spontanée
      <input type="radio" name="Fermentation" value=4 /> Fermentation mixte<br/><br/>
      Taux d'alcool : <input type="text" name="Alc" /><br /><br />  
      IBU : <input type="text" name="IBU" /><br /><br />
      EBC : <input type="text" name="EBC" /><br /><br />
      Présentation de la bière:<br />
      <textarea rows="5" cols="100" wrap="physique" name="PresentationBie">
Ecrivez un commentaire</textarea
      ><br /><br />
      Photo de la bières : <input type="hidden" name="PhotoBie" value="100" />
      <input name="file" type="file" accept="image/*" /><br /><br />
      <p>Formats :</p>
      <input type="checkbox" name="Formats[]" value=1 /> 20cl
      <input type="checkbox" name="Formats[]" value=2 /> 25cl
      <input type="checkbox" name="Formats[]" value=3 /> 33cl
      <input type="checkbox" name="Formats[]" value=4 /> 341ml
      <input type="checkbox" name="Formats[]" value=5 /> 355ml
      <input type="checkbox" name="Formats[]" value=6 /> 375ml
      <input type="checkbox" name="Formats[]" value=7 /> 50cl
      <input type="checkbox" name="Formats[]" value=8 /> 66cl
      <input type="checkbox" name="Formats[]" value=9 /> 70cl
      <input type="checkbox" name="Formast[]" value=10 /> 75cl <br />
      <input type="checkbox" name="Formats[]" value=11 /> 800ml
      <input type="checkbox" name="Formats[]" value=12 /> 1L
      <input type="checkbox" name="Formats[]" value=13 /> 1,5L
      <input type="checkbox" name="Formats[]" value=14 /> Fût TORPs
      <input type="checkbox" name="Formats[]" value=15 /> 2,5L
      <input type="checkbox" name="Formats[]" value=16 /> 3L
      <input type="checkbox" name="Formats[]" value=17 /> Mini-Fût
      <input type="checkbox" name="Formats[]" value=18 /> BeerTender
      <input type="checkbox" name="Formats[]" value=19 /> PerfectDraft
      <input type="checkbox" name="Formats[]" value=20 /> Fût<br />
      <p>Type de Verre :</p>
      <select name="TypeVer">
        <option value=0 >Choisir</option>
        <option value=1 >Droit</option>
        <option value=2 >Ballon</option>
        <option value=3 >Ballon évasé</option>
        <option value=4 >Originale</option>
        <option value=5 >Tulipe</option>
        <option value=6 >Tulipe évasée</option>
        <option value=7 >Pinte</option>
        <option value=8 >Chope</option>
        <option value=9 >Weizenbecker</option>
        <option value=10 >Flute</option>
        <option value=11 >Calice</option></select
      ><br /><br />
      Date de création : <input type="text" name="DateCreaBie" /><br /><br />

      <input type="submit" />
    </form>
  </body>
</html>
